:root{
	--main-color: rgba(0,0,0,0.9);
	--second-color: rgba(0,0,0,0.7);
	--gray-color: rgba(0,0,0,0.5);
	--border-color: rgba(0,0,0,0.2);
	--border-radius: 7px;
	--bg-gradient: linear-gradient(90deg, #37AFCA 0%, #DE74CC 52%, #F89C6C 100%);
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline-style: none;
	border: none;
	transition: 0.3s;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
body,html{
	font-size: 16px;
	color: var(--main-color);
	font-family: 'Noto Sans SC';
	font-weight: 400;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
button{
	border: none;
}
.none{
	display: none;
}
ul,li{
	position: relative;
}
.flex {
	display: flex;
}
.f14{
	font-size: 0.875rem;
}
.lh2{
	line-height: 2;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 3px; /* 设置滚动条宽度 */
	height: 3px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
  background-color: var(--second-color); /* 设置轨道背景颜色 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* 设置滑块背景颜色 */
  border-radius: 2px; /* 设置滑块圆角 */
}



	